@import '../index.scss';

#section-1.why {
    align-items:center;
    margin-top: 50px;
    padding: 0 25px;
    .wrapper{
        position: relative;
        .container{
            margin-top: 20px;
            .card{
                align-items:center;
                justify-content: flex-start;
                img{
                    height: 80px;
                    cursor:auto;
                }
                .headText{
                    min-height: 100px;
                    justify-content: center
                }
            }
        }
    }
}


