@import '../index.scss';

.cost {
    z-index: 1;
    width: 100%;
    padding: 0 25px;
    background: rgb(0,71,127);
    background: radial-gradient(circle, rgba(0,71,127,1) 0%, rgba(0,88,127,1) 34%, rgba(0,71,127,1) 100%);    
    h2{
        margin: 0 auto;
        margin-top: 10px;
        color: white;
        border-bottom: 4px solid white;
    }
    .wrapper{
        position: relative;
        .container{ // Компонент Carousel
            .card{
                align-items:center;
                background-color: rgba(255, 255, 255);
                box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.35);
                border-radius: 21px;
                padding: 15px;
                &.best {
                    animation: border-pulsate 2s infinite;
                    @keyframes border-pulsate {
                        0%   { box-shadow: 0px 0px 25px rgb(40, 145, 26, 0.85);}
                        50%  { box-shadow: 0px 0px 5px rgba(40, 145, 26, 0.85); }
                        100% { box-shadow: 0px 0px 25px rgb(40, 145, 26, 0.85); }
                    }
                    &:before{
                        z-index: 6;
                        content: '';
                        background-image: url("../../public/img/icons/best-price.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height:50px;
                        width: 50px;
                        // border: solid 1px;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                    }
                }
                .headText{
                    min-height: 100px;
                    justify-content: center
                }
                p{
                    min-height: 200px;
                }
                .price{
                    min-height: 80px;
                    justify-content: center;
                    h3,h4{
                        margin: 2.5px;
                    }
                }            
            }
            .scroll-btn{ // Компонент Carousel
                &.right{
                }
                &.active{
                }
            }
        }
    }
}






