@import '../index.scss';

.cost {
    z-index: 1;
    position: relative;
    padding: 0 25px;
    width: 100%;
    
    h2{
        margin: 0 auto;
    }
    .container{
        // background-color: $textAccent;
        margin-top: 30px;
        align-items:stretch;
        padding: 10px;
        grid-gap: 20px;

        overflow-x:auto;
        scroll-snap-type: x;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.grab{
            cursor:grab;
        }
        &.grabbing{
            cursor:grabbing;
        }
        .card{
            // scroll-snap-align:center;
            // scroll-snap-stop: always;
            min-width: calc((100% - 40px)/3);
            padding: 15px;
            align-items:center;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 21px;
            .headText{
                min-height: 100px;
                justify-content: center
            }
            p{
                min-height: 200px;
            }
            .price{
                min-height: 80px;
                justify-content: center;
                h3,h4{
                    margin: 2.5px;
                }
            }            
        }
    }
    .scroll-btn{
        display: none;
        position:absolute;
        top: 50%;
        left: 0;
        // transform: translateY(-50%);
        height: 50px;
        width: 50px;
        border-radius: 100%;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.1); 
        background-color: white;
        background-image: url("../../public/img/icons/arrow-left.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        &.right{
            left: auto;
            right: 0;
            transform: rotate(180deg);
        }
        &.active{
            display: block;
        }
    }
}
@media (max-width:1320px){
    .cost {
        padding: 0 25px;
        .container{
            padding: 10px;
            grid-gap: 20px;
            .card{
                min-width: calc((100% - 40px)/3);
            }
        }        
    }
}

@media (max-width:850px){
    .cost {
        padding: 0 25px;
        .container{
            padding: 10px;
            grid-gap: 20px;
            .card{
                min-width: calc((100% - 20px)/2);
                .headText{
                    min-height: 80px;
                }
                p{
                    min-height: 200px;
                }
                .price{
                    min-height: 50px;
                } 
            }
        }        
    }
}
@media (max-width:550px){
    .cost {
        padding: 0 25px;
        .container{
            padding: 10px;
            grid-gap: 20px;
            .card{
                min-width: 100%;
            }
        }        
    }
}





