@import '../index.scss';

.defects {
    margin: 30px 0;
    align-items:center;
    h2,h6{
        max-width: 40%;
        margin: 0 auto;
        text-align: center;
    }
    h6{
        margin-top: 10px;
    }
    .wrapper{
        padding-top: 50px;
        .container{
            align-items:flex-start;
            gap: 10px;
            padding: 10px;
            .info{
                -o-animation: info-show .5s ease;
                -moz-animation: info-show .5s ease;
                -webkit-animation: info-show .5s ease;
                animation: info-show .5s ease;
                @keyframes info-show {
                  0% {
                    -o-transform:translateX(-200%);
                    -moz-transform:translateX(-200%);
                    -webkit-transform:translateX(-200%);
                    transform:translateX(-200%);
                    }
                  100% {
                    -o-transform:translateX(0);
                    -moz-transform:translateX(0);
                    -webkit-transform:translateX(0);
                    transform:translateX(0);
                    }
                }
                width: 40%;
                height: 100%;
                justify-content:flex-start;
                border-radius: 20px;
                background: radial-gradient(circle, rgba(0,71,127,1) 0%, rgba(0,88,127,1) 34%, rgba(0,71,127,1) 100%);    
                box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.35);
                h3{
                    text-align: left;
                    color: white;
                    margin: 20px;
                    margin-bottom: 0;
                }
                p{
                    margin: 20px;
                    color: white;
                }
                img{
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 0 0 20px 20px;
                    user-select: none;
                    transition: all 0.5s;
                    &:hover{
                        z-index: 2;
                        border-radius: 0;
                        scale: 1.5;
                    }
  
                } 
            }
            .map{
                position:relative;
                width: 50%;
                height:100%;
                img{
                    width: 100%;
                    user-select: none;
                }                
                .point{
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    
                    border-radius: 100%;
                    background-color: white;
                    transition: all 0.5s;
                    display: flex;
                    justify-content: center;
                    svg{
                        width: 60%;
                        fill: $textAccent;
                    }
                    &:hover{
                        scale: 1.2;
                        cursor: pointer;
                    }
                    &.active {
                        scale: 1.2;
                        background-color: $textAccent ;
                        svg{
                            width: 60%;
                            fill: rgb(255, 255, 255);
                        }
                    }
                    
                }
            }
        }
    }
}
@media (max-width:1200px){
    .defects {
        h2,h6{
            max-width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        h6{
            margin-top: 10px;
        }
        .wrapper{
            .container{
                flex-direction: column-reverse;
                align-items: center;
                gap: 20px;
                .info, .map{
                    width: 45%;
                }
            }
        }
    }
}
@media (max-width:900px){
    .defects {
        .wrapper{
            .container{
                .info, .map{
                    width: 65%;
                    img:hover{
                        scale: 1;
                        border-radius: 0 0 20px 20px;
                    }
                }
            }
        }
    }
} 
@media (max-width:500px){
    .defects {
        .wrapper{
            .container{
                .info, .map{
                    width: 85%;
                }
            }
        }
    }
} 




@media (max-width:1200px){
    .calculator {
        .wrapper{
            .container{
                .calc{
                    margin: 0 30%;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media (max-width:900px){
    .calculator { 
        .wrapper{
            .container{
                .calc{
                    margin: 0 20%;
                    margin-top: 50px;
                }
            }
        }
    }
}
@media (max-width:500px){
    .calculator {
        .wrapper{
            .container{
                .calc{
                    margin: 0 10%;
                    margin-top: 50px;
                }
            }
        }
    }
}


