@import '../index.scss';

.calculator {
    margin: 30px 0; 
    align-items:center;
    
    .wrapper{
        .container{
            justify-content:center;
            width: 100%;
            .calc{
                // transform: rotate(15deg);
                width: 100%;
                margin: 0 30%;
                margin-top: 50px;
                border-radius: 20px;
                box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.55);
                h5{
                    color: $textSecond;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    font-weight: 400;
                }
    
                .calc-top{
                    border-radius: 20px 20px 0 0;
                    padding: 20px;
                    background-color: #f2f5f8;
                    .calc-result{
                        position: relative;
                        width: 100%;
                        background-color: #ffffff;
                        border: 10px solid #f2f5f8;
                        border-radius: 10px;
                        box-shadow: inset 1px 1px 5px rgb(201, 201, 201),
                                    5px 5px 10px rgb(211, 210, 210),
                                    -5px -5px 10px rgb(255, 255, 255);
                        

                        justify-content: center;
                        align-items: center;

                        h3{  
                            // font-family: 'LCDNova', sans-serif;
                            // font-weight: 400;
                            margin: 30px auto 10px 10px;
                            color: $textAccent;
                            font-size: 30px;
                        }
                    }
                }
                .calc-main{
                    border-radius: 0 0 20px 20px;
                    padding: 20px;
                    gap: 10px;
                    background-color: #f2f5f8;
                    .calc-btns{
                        position: relative;
                        padding: 10px;
                        padding-top: 30px;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;

                        h5{
                            color: $textSecond;
                            text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.829); 
                            font-size: 16px;     
                            font-weight: 400;
                            
                        }

                        .btnRoomArea{
                            background-color: #f2f5f8;
                            width: 100%;
                            height: 40px;
                            margin: 2px;
                            border-radius: 10px;
                            
                            box-shadow: 3px 3px 5px rgb(211, 210, 210),
                                        -3px -3px 5px rgb(255, 255, 255),
                                        inset 3px 3px 5px rgb(211, 210, 210,0),
                                        inset -3px -3px 5px rgb(255, 255, 255, 0);
                            color: $textMain;
                            transition: box-shadow .2s;
                            &:hover{
                                transform: none;
                                box-shadow: 3px 3px 5px rgb(211, 210, 210,0),
                                            -3px -3px 5px rgb(255, 255, 255,0), 
                                            inset 3px 3px 5px rgb(211, 210, 210),
                                            inset -3px -3px 5px rgb(255, 255, 255);                          
                            }
                            &.active{
                                transform: none;
                                background-color: $textAccent;
                                box-shadow: 3px 3px 5px rgb(114, 132, 160),
                                            -3px -3px 5px rgb(220, 230, 255);
                                font-weight: 800;
                                color: white;
                            }
                        }
                    }

                }
            }  
        }
    }

}
@media (max-width:1200px){
    .calculator {
        .wrapper{
            .container{
                .calc{
                    margin: 0 30%;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media (max-width:900px){
    .calculator { 
        .wrapper{
            .container{
                .calc{
                    margin: 0 20%;
                    margin-top: 50px;
                }
            }
        }
    }
}
@media (max-width:500px){
    .calculator {
        .wrapper{
            .container{
                .calc{
                    margin: 0 10%;
                    margin-top: 50px;
                }
            }
        }
    }
}