@import '../index.scss';

.qa {
    margin: 30px 0;   
    align-items: center;
    .container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 30px 0;
        padding: 0 180px;
        .card{ 
            .cardHead, .cardContent{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                margin-top: 10px;
                padding: 0 20px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                h5{
                    color: $textMain;
                }
            }
            .cardHead{
                &:hover{
                    background-color: #f5f5f5;
                    cursor: pointer;
                }
                &.active{
                    background-color: #f0f0f0;
                    border-radius: 8px 8px 0 0;
                    
                }
                h5:last-child{
                    rotate: 0;
                    user-select: none;
                    transition: all 0.6s ease;
                    &.active{
                        rotate: 180deg;
                    }
                }
            }
            .cardContent{
                // display: none;
                display: flex;
                align-items:flex-start;
                background: #ffffff;
                height: auto;
                max-height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;

                transition: all .6s ease;
                &.active{
                    border-radius: 0 0 8px 8px;
                    max-height: 400px;
                    margin: 1px 0 0 0;
                    padding: 10px;
                    }
                }
        }
    }
}
@media (max-width:1200px){
    .qa {
        .container{
            padding: 0 10px;
            .card{ 
                .cardHead{
                    height: 40px;
                }
            }
        }
    }
}

