.callBtn{
  z-index: 2;
  position: fixed;
  top: 50%;
  margin-top: -125px;
  right: 0;
  button{
    width: 50px;
    height: 250px;
    background-color: #166e1d;
    display: flex;
    align-items: center;
    justify-content: center;
    h5{
      writing-mode:vertical-rl
    }
  }
}

@media (max-width:1200px){
  .callBtn{
    display: none;
  }
}