@import '../index.scss';

.contacts {
    margin: 30px 0;
    // align-items:center;    
    .container{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin: 30px 0;
        padding: 0 180px;
        .social{
            img{
                height: 50px;
                cursor:pointer;
            }
        }    
    }
}


