@import '../index.scss';

.wrapper {
    padding: 10px 30px;
}
img,h2{
    cursor: pointer;
    color: $textMain;
}
ul{
    list-style-type:none;
    li {
        margin: 0 7.5px;
        display: inline-block;
        cursor: pointer;
        &:hover{
            font-weight: 800;
            color: $textMain;
        } 
    }
}
