@import '../index.scss';

header{
    background-color: rgb(255, 255, 255);  
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%;
    
    .wrapper {
        padding: 0 30px;
        height: 80px;
        justify-content: center;
        position: relative;
        .header_logo{
            position: absolute;
            left: 0;
            img,h2{
                cursor: pointer;
                color: $textMain;
                // color: $textAccent; 
            }
        }
        ul{
            position: relative;
            
            list-style-type:none;
            .menu {
                margin: 0 7.5px;
                display: inline-block;
                font-size: 18px;
                font-weight: 800;
                text-decoration: none;
                color: $textMain;
                cursor: pointer;
                &:hover{
                    font-weight: 800;
                    color: $textAccent;
                } 
            }
            .progress_bg{
                height: 5px;
                background-color: rgb(245, 245, 245);
                border-radius: 5px;
                margin: 0;
                .progress_solid{
                    height: 100%;
                    width: 0;
                    border-radius: 5px;
                    background-color: $textAccent;
                }
            }
        }
        
    }
}


