@import '../index.scss';

.qa {
    margin: 30px 0;   
    .container{
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        padding: 0 180px;
        .card{ 
            .cardHead, .cardContent{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                margin-top: 10px;
                padding: 0 20px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
            }
            .cardHead{
                &:hover{
                    background-color: #f5f5f5;
                    // border-color: #cfcfcf;
                    
                    cursor: pointer;
                }
                &.active{
                    background-color: #f0f0f0;
                    // border-color: #b3d7e7;
                    border-radius: 8px 8px 0 0;
                }
            }
            .cardContent{
                display: none;
                align-items:flex-start;
                margin: 1px 0 0 0;
                padding: 10px;
                height: auto;
                background: #ffffff;
                &.active{
                    display: flex;
                    border-radius: 0 0 8px 8px;
                }
            }
        }
    }
}


