* {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 16px;  
    color: #222;
}
.Main{
    margin: 50px 300px 0 300px;
    // border: 1px dashed;
    border-color: rgb(212, 212, 212);
}

h1{
    font-weight: 800;
    font-size: 40px;
    margin: 0px 0px 25px 0px;
    text-decoration:underline rgb(218, 23, 23) 10px;
    text-underline-offset: 15px;
  }