$textMain: #313131;
$textSecond: #626262;

* {
    font-family: 'Gothic A1', sans-serif; 
    font-weight: 400;
    font-size: 16px;  
    color: $textSecond;

    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

h1, h2{
    font-size: 24px;
    font-weight: 800;
    color: $textMain;
    text-align: center;
}
h3{
    font-size: 20px; 
    font-weight: 800;
    color: $textMain;
}

p{
    line-height: 25px;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}
#main.wrapper{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}

.f-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.f-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m-left {
    margin-left: 0;
    margin-right: auto;
}
.m-right {
    margin-left: auto;
    margin-right: 0;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.t-center{
    text-align: center;
}
.m-10 {
    margin: 10px;
}

button{
    width: 170px;
    height: 40px;
    background: #24A5DD;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    h4{
        color: #ffff;
        font-weight: 800;
    }
}